<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= weapon.name %></title>
</head>
<body>
<div class="weapon-details">
    <h1><%= weapon.name %></h1>
    <p><%= weapon.description %></p>
    <% if (weapon.isEquipped) { %>
    <p>This weapon is equipped!</p>
<% } else { %>
<p>You haven't equipped this weapon...</p>
<% } %>
</div>
<div class="weapon-actions">
<form class="delete-form" action="/weapons/<%=weapon._id%>?_method=DELETE" method="POST">
    <button class="delete-button" type="submit">Delete <%= weapon.name %></button>
</form>
<a class="edit-link" href="/weapons/<%= weapon._id %>/edit">
    <div class="edit-text">Edit <%= weapon.name %></div>
    </a>
</div>
<a class="index-link-text" href="/weapons/">Back to Weapons</a>
</body>
</html>